@charset "UTF-8";


/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


/* BASICS */
html, body {
	background-color: 	white;
	font-family: 		Century Gothic, CenturyGothic, AppleGothic, Helvetica, Arial, sans-serif;
	font-size:			16px;
}
img {
	width: 				100%;
	height:				auto;
	border: 			1px solid rgb(220,220,220);
}


/* TYPOGRAPHY */
em {
	font-style:  		italic;
}
strong {
	font-weight: 		700;
}
h1 {
	font-size:			3em;
	line-height:  		1.3em;
	margin-bottom: 		0.2em;
}
h2 {
	font-size: 			2em;
	line-height:  		1.2em;
	margin-bottom: 		0.4em;
}
p {
	font-family: 		"Crimson Text", "Times New Roman", serif;
	font-size: 			1.1em;
	line-height:  		1.5em;
	font-weight: 		300;
	margin-bottom: 		1.5em;
}
::selection {
	background: 		rgba(76, 178, 227, 0.5);
	/*color: 			white;*/
	padding: 			50px;
}
::-moz-selection {
	background: 		rgba(76, 178, 227, 0.5);
	/*color: 			white;*/
	padding: 			50px;
}


/* LISTS */
ul {
	font-family: 			"Crimson Text", "Times New Roman", serif;
	font-size: 				1.1em;
	line-height:  			1.5em;
	font-weight: 			300;
	list-style: 			none;
}
li {
	margin-bottom: 			0.6em;
}
.actualList {
	list-style-position: 	inside;
	margin-top: 			-1em;
	padding-left: 			1.3em;
	text-indent: 			-1.3em;
}
.actualList li:before {
	content: 				"+ ";
	padding-right: 			0.5em;
	font-weight: 			bold;
	color: 					#4cb2e3;
}


/* LINKS */
a, a:link, a:visited {
	color: 				#4cb2e3;
	padding-bottom: 	1.8px;
	text-decoration: 	none;
	border-bottom: 		1.5px solid rgb(220,220,220);
}
a:active, a:hover {
	color: 				#4cb2e3;
	text-decoration: 	none;
	border-bottom: 		1.5px solid #4cb2e3;
}


/* STRUCTURE */
#wrapper {
	width: 		80%;
	min-width: 	280px;
	max-width: 	900px;
	margin: 	60px auto 80px auto;
}


/* HEADER */
header {
	/*border-bottom: 		4px solid #4cb2e3;*/
	border-bottom: 		4px solid black;
	text-align: 		center;
}
#logo {
	width: 				100px;
	height: 			100px;
	margin-bottom: 		10px;
	border: 			none;
}


/* VIDEO */
#video {
	margin: 		20px 0;
	border: 		1px solid rgb(220,220,220);
}


/* DETAILS */
.details {
	margin: 		50px 0;
	text-align: 	left;
}
.details div {
	margin-bottom: 	50px;
}


/* PRICES */
#priceContainer {
	text-align: 			center;
}
.price {
	-webkit-border-radius: 	50%;
	-moz-border-radius: 	50%;
	border-radius: 			50%;
	border: 				4px solid black;
	width: 					190px;
	height: 				190px;
	display: 				inline-block;
	vertical-align: 		top;
	margin-bottom: 			0px !important;
}
.price:nth-of-type(1) {
	margin-right:   		20px;
}
.price h1, .price h2, .price p {
	text-align: 			center;
}
.price h1 {
	margin: 				-10px 0 3px 0;
}
.price h2 {
	font-size: 				1.5em;
}
.price p {
	font-size: 				0.8em;
}

#vinylPrice {
	margin-bottom: 			20px !important;
}
#vinylPrice h2 {
	margin-top: 			11px;
}
#downloadPrice h2 {
	margin-top: 			25px;
}


/* AV */
#audioSample {
	margin-top: 30px;
}


/* FAQ */
.faq {
	/* no margin since header is outside section */
	margin-top: 	0;
}
.question p:first-child {
	font-weight: 	bold;
	margin-bottom: 	0.4em;
}


/* FOOTER */
footer {
	clear:			both;
	margin-top: 	30px;
	padding-top: 	30px;
	/*border-top: 	1px solid rgb(220,220,220);*/
	/*border-top: 	4px solid #4cb2e3;*/
	border-top: 	4px solid black;
	/*color: 		rgb(150,150,150);*/
	text-align: 	center;
}


/* RESPONSIVE LAYOUT */
/* desktop and tablets */
@media only screen and (min-width: 768px) {
	h1 {
		line-height:  			1.5em;
	}
	header {
		padding-bottom: 		20px;
	}
	#logo {
		width: 					200px;
		height: 				200px;
		margin-bottom: 			30px;
	}
	#specialevents ul {
		list-style-position: 	inside;
		margin-top: 			20px;
		padding-left: 			1.3em;
		text-indent: 			-1.3em;
	}
	#specialevents li:before {
		content: 			"+ ";
		padding-right: 		0.5em;
		font-weight: 		bold;
		color: 				#4cb2e3;
	}
	.details, .faq {
		-webkit-column-count:	2;
		-moz-column-count: 		2;
		column-count: 			2;

		-webkit-column-gap: 	50px;
	    -moz-column-gap: 		50px;
	    column-gap: 			50px;
	}
	/* via: http://stackoverflow.com/a/7785711/1167783 */
	/* inline-block also a hack for FF and Safari */
	.details div, .question {
		-webkit-column-break-inside:	avoid;
	    -moz-column-break-inside:		avoid;
	    -moz-page-break-inside:			avoid;
	    page-break-inside: 				avoid;
	    break-inside: 					avoid-column;
	    display: inline-block;
	}

	footer ul > li {
		display: 		inline-block;
	}
	footer li + li:before {
		content: 		"+";
		/*color: 		#4cb2e3;*/
		font-weight: 	bold;
		padding: 		0 10px 0 5px;
	}
}


/* smaller screens */
@media only screen and (max-width: 767px) {
	#wrapper {
		margin-top: 30px;
		padding: 0 20px;
	}
	#location, #contact, #specialevents {
		text-align: center;
	}
}

